## The map() Function in Python

the map() function applies a given function to all items in an input list(or any other iterable) and return a map object (an iterator). this is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x
square(3)

9

In [3]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
## Lambda Function with map

numbers=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
## Can we map Multiple iterables

numbers1=[1,2,3,4,5,6]
numbers2=[7,8,9,10,11]

added_numbers= list(map(lambda x,y: x+y,numbers1,numbers2))
print(added_numbers)

[8, 10, 12, 14, 16]

In [8]:
## MAp to convert a list of string to integer

str_numbers= ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [9]:
worrds=['apple','banana','grapes']
Upper_words= list(map(str.upper,worrds))
print(Upper_words)

['APPLE', 'BANANA', 'GRAPES']

In [10]:
def get_name(person):
    return person['name']
people=[
    {'name':'Kartikey','age':20},
    {'name':'Bhumi','age':21}

]
list(map(get_name,people))

['Kartikey', 'Bhumi']