## Arithmetic Operators

In [ ]:
## Arithmetic Opertors
a =10
b =15
add_result = a+b  ## Addition
sub_result = a-b  ## Substraction
mult_result= a*b  ## Multiplication
div_ressult= a/b  ## Division
Floor_div_result= a//b  ## Floor Division
modulus_result= a%b   ## Modulus Operation
exponential_result= a**b ## Exponential

print(add_result)
print(sub_result)
print(mult_result)
print(div_ressult)
print(Floor_div_result)
print(modulus_result)
print(exponential_result)

25
-5
150
0.6666666666666666
0
10
1000000000000000

In [ ]:
21//5 ## Floor Division

## Comparison Operators

In [6]:
## Comparision Opertors
a=10
b=10
a==b

True

In [ ]:
## Equal to ==
str1= "Kartikey"
str2= "Kartikey"
str1== str2

True

In [8]:
## Not Equal To !=
str3="Kartikey"
str4="kartikey"
str3!=str4

True

In [ ]:
## Greater Than >
num1= 30
num2 =20
num1>num2

True

In [ ]:
## Less Than <
num1<num2

False

In [13]:
## Greater Than or Equal To >=
number1= 45
number2= 45
print(number1>=number2)

True

## Logical Operators

In [15]:
## And, Not, OR
x= True
y= True
result = x and y
print(result)

True

In [ ]:
## And 
X= True
Y= False
result = X and Y
print(result)

False

In [17]:
## OR
X= True
Y= False
result= X or Y
print(result)

True

In [18]:
X= False
Y= False
result= X or Y
print(result)

False

In [19]:
## Not
x= True
not x

False

In [24]:
## Simple Calculator
num1= float(input("Enter The First Number:"))
num2= float(input("Enter The Second Number:"))

## Performing Arithmetic Operations

addtion = num1+num2  ## Addition
substraction = num1-num2  ## Substraction
multiply = num1*num2  ## Multiplication
division= num1/num2  ## Division
FloorDivision= num1//num2  ## Floor Division
modulus= num1%num2   ## Modulus Operation
exponential= num1**num2 ## Exponential

## Display Result
print("Addtion: ",addtion)
print("Substraction: ",substraction)
print("Multiplication: ",multiply)
print("Division: ",division)
print("FlooorDivision: ",FloorDivision)
print("Modulus: ",modulus)
print("Exponential: ",exponential)

Addtion:  30.0
Substraction:  10.0
Multiplication:  200.0
Division:  2.0
FlooorDivision:  2.0
Modulus:  0.0
Exponential:  10240000000000.0

In [22]:
print(20-10)

10