### Variable

In [ ]:
a=100
print(a)

100

In [ ]:
## Declareing and Assigning the variable.
age =35
hieght=6
name= "Kumar Kartikey"


## Printing the variable
print("age:",age)
print("height:",hieght)
print("Name:",name)

age: 35
height: 6
Name: Kumar Kartikey

In [ ]:
## Naming Convention
## Variable Names should be descriptive
## they must start with a letter or an '_' and contains letters, numbers anfd underscores
## variables are case sensitive

first_name= "Kumar"
last_name="Kartikey"

## Invalid Variables

# first-name="Kartikey"
# @name="Kartikey"

In [ ]:
## CAse Sensitive
name="Kumar"
Name="Kartikey"
name=Name
print(name)
print(Name)

Kartikey
Kartikey

In [ ]:
## Understanding Variable Types
## Python is Dynamically typed, type of a variable determine at runtime
age=25
height=6.24 ##float
name="Kartikey" ## str
is_student= True ## Boolean
print(type(name))

<class 'str'>

In [ ]:
age=25
print(type(age))

## Type Conversion
age_str= str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [ ]:
height= 6.23
print(type(height))

<class 'float'>

In [ ]:
float(int(height)) ## It converts Into The Float Value
int(height)  ## converts Into The Integer value

6

In [ ]:
## Dynamic Typing

var= 10 ## Int
print(var, type(var))

var= "Hello"
print(var, type(var))

var = 3.5657
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.5657 <class 'float'>

In [3]:
## Input user
age=int(input("What Is Your Age:"))
print(age,type(age))

10 <class 'int'>

In [4]:
## Simple Calculator

num1= float(input("Enter The First Number:"))
num2= float(input("Enter The Second Number:"))
sum = num1+ num2
substract= num1-num2
multiply = num1*num2
devide= num1/num2

print("Sum:",sum)
print("Substract:",substract)
print("Multiply:",multiply)
print("Devide:",devide)

Sum: 30.0
Substract: 10.0
Multiply: 200.0
Devide: 2.0